---
http_interactions:
- request:
    method: get
    uri: https://newsapi.org/v2/everything?from=2021-10-1&pageSize=1&q=business&to=2021-10-15
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token BAD_TOKEN
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"error","code":"apiKeyInvalid","message":"Your API key is
        invalid or incorrect. Check your key, or go to https://newsapi.org to create
        a free API key."}'
  recorded_at: Fri, 22 Oct 2021 16:53:38 GMT
- request:
    method: get
    uri: https://newsapi.org/v2/everything?from=2021-10-1&pageSize=15&q=business&to=2021-10-15
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <SAFE_STRINGS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","totalResults":81187,"articles":[{"source":{"id":null,"name":"New
        York Times"},"author":"Stacy Cowley","title":"S.B.A. Overpaid $4.5 Billion
        on ‘Illogical’ Small Business Grant Claims","description":"A program gave
        money to 700,000 self-employed people who improperly claimed to have as many
        as a million employees, according to an inspector general’s report.","url":"https://www.nytimes.com/2021/10/07/business/fraud-small-business-administration.html","urlToImage":"https://static01.nyt.com/images/2021/10/07/business/07sbaloans/07sbaloans-facebookJumbo.jpg","publishedAt":"2021-10-07T21:32:47Z","content":"In
        a written response included in the report, James E. Rivera, the head of the
        unit that ran the program, said the agency was required by the CARES Act to
        accept applicants self-certifications that t… [+1651 chars]"},{"source":{"id":null,"name":"New
        York Times"},"author":"Katie Robertson","title":"Carlos Watson, Co-founder
        of Ozy Media, Resigns From NPR Board","description":"The development is latest
        following reports in The New York Times questio[...]
- request:
    method: get
    uri: https://newsapi.org/v2/everything?from=2021-10-1&pageSize=1&q=&to=2021-10-15
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - token <SAFE_STRINGS>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"error","code":"parametersMissing","message":"Required parameters
        are missing, the scope of your search is too broad. Please set any of the
        following required parameters and try again: q, qInTitle, sources, domains."}'
  recorded_at: Fri, 22 Oct 2021 16:53:51 GMT
recorded_with: VCR 6.0.0
